# systemd unit file for running cherrymusic in docker
# Tom Wallroth, based on https://github.com/klingtdotnet/docker-cherrymusic

[Unit]
Description=Cherrymusic in docker
Requires=docker.service
After=docker.service

[Service]
# the easiest config is to store the data in a common place
EnvironmentFile=/etc/cherrymusic.service.conf
# ExecStartPre may fail: It deletes the old image and creates the data store folder
ExecStartPre=-bash -c '/usr/bin/docker rm -f cherrymusic && mkdir -p ${DATA_STORE}/cherrymusic'
ExecStart=docker run \
    --name cherrymusic
    -p ${HOST_PORT}:8080 \
    --volume ${DATA_STORE}/cherrymusic:/root:shared \
    cherrymusic/cherrymusic
ExecStop=/usr/bin/docker stop cherrymusic

[Install]
WantedBy=multi-user.target
